{% extends 'base.html.twig' %}

{% block cont %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <br>
                <h1 class="text-center">Categories</h1>
                <br>
                <div class="list-group">
                    {% for category in categories %}
                        <h5><a href="{{ path('category_view',{'name':category.name|lower}) }}"
                           class="list-group-item btn-outline-dark">{{ category.name }} <small class="float-right badge badge-info">{{ category.products.count }}</small></a></h5>
                        {% if is_granted('ROLE_EDITOR') %}
                            <a href="{{ path('category_delete',{'id':category.id}) }}"
                               class="badge badge-danger">Delete</a>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9">
                <br>
                <div class="row">
                    {% for product in products %}
                        {% if product.quantity > 0 %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{{ path('product_view',{'id':product.id}) }}"><img class="card-img-top" src="{{ product.picture }}" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">
                                            <a href="{{ path('product_view',{'id':product.id}) }}">{{ product.name }}</a>
                                        </h4>
                                    </div>
                                    <div class="card-footer">
                                        <h6 class="float-right">{{ product.price }} BGN</h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}