{% extends 'base.html.twig' %}
{% block cont %}
    <div class="container">
        <div class="row">
            <h1>All Products</h1>
            <div class="col-lg-9">
                {% for product in products %}
                    {% if product.quantity > 0 %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{{ path('product_view',{'id':product.id}) }}"><img class="card-img-top"
                                                                                            src="{{ product.picture }}"
                                                                                            alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('product_view',{'id':product.id}) }}">{{ product.name }}</a>
                                    </h4>
                                    <h5>{{ product.price }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
