{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <br>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.oldPassword) }}
                {{ form_row(form.plainPassword.first, {'label': 'New Password'}) }}
                {{ form_row(form.plainPassword.second) }}
                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                {{ form_end(form) }}
                <br>
            </div>
        </div>
    </div>
{% endblock %}
